.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0s linear;
  }
}

.App-logo-reverse {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-reverse {
    animation: App-logo-spin-reverse infinite 0s linear;
  }
}

.App-header-dark {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-light {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#App-hover {
  stroke: orange;
  stroke-width: 0;
  transition: all 10000ms ease-in;
}

#App-hover:hover {
  stroke: orangered;
  stroke-width: 60;
}

button {
  cursor: pointer;
}

button:hover {
  background: blue;
  color: #eaeaea;
}

button:disabled {
  background: #858282;
  cursor: not-allowed;
}

input:disabled {
  cursor: not-allowed;
}

#color-input {
  width: 66px;
  height: 22px;
  background-color: #61dafb;
  cursor: -webkit-zoom-in;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 1px 2px;
}
